<div class="card border-dark mb-3 jokeCard">
  <div class="card-header">{{user.username}}</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{joke.timestamp}}</h5>
    <p class="card-text">{{joke.joke}}</p>
    <div class="arrowArea downChosen"></div>
    <button type="button" class="btn upVote">⬆️ Up</button>
    <h6 class="card-text">{{joke.upvotes}}</h6>
    <button type="button" class="btn downVote">⬇️ Down</button>
    <h6 class="card-text">{{joke.downvotes}}</h6>
    <button type="button" class="btn resetVote">Reset Vote</button>
  </div>
</div>