<div class="card border-dark mb-3" id="jokeCard">
  <div hidden id="jokeId">{{id}}</div>
  <div class="card-header">{{user.username}}</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{format_date createdAt}}</h5>
    <p class="card-text jokeText">{{joke}}</p>
    <button type="button" id="upVote" class="btn">⬆️ Up
      <span id="upvoteScore" class="badge bg-white">{{upvotes}}</span>
    </button>
    <button type="button" id="downVote" class="btn">⬇️ Down
      <span id="downvoteScore" class="badge bg-white">{{downvotes}}</span>
    </button>
  </div>
</div>